---
import type { MarkdownHeading } from "../../util/generatePages";
import Aside from "./Aside.astro";

interface Props {
  heading: MarkdownHeading;
}
const { heading } = Astro.props;
---

<aside-item data-slug={heading.slug}>
  <li class="text-gray-600">
    <a href={`#${heading.slug}`} class="hover:text-gray-700 data-active:font-semibold">
      {heading.text}
    </a>
    {heading.subheadings.length > 0 && <Aside headings={heading.subheadings} />}
  </li>
</aside-item>

<script>
  import "./AsideItem.ts";
</script>
