@import "tailwindcss";

@theme {
  --color-bg: var(--color-gray-100);
  --color-accent-primary: var(--color-emerald-800);
  --color-accent-secondary: var(--color-emerald-700);

  --font-*: initial;
  /* based on --font-sans */
  --font-body:
    "Source Sans 3 Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  --font-header:
    "Space Grotesk Variable", ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  /* based on --font-mono */
  --font-mono:
    "Space Mono", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
