---
import type { CollectionEntry } from "astro:content";
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection, render } from "astro:content";

export async function getStaticPaths() {
  const projects = await getCollection("posts");
  return projects.map((project) => ({
    params: { slug: project.id },
    props: project,
  }));
}

type Props = CollectionEntry<"posts">;
const project = Astro.props;
const { Content, headings } = await render(project);
---

<Layout title={project.data.title} description={project.data.summary}>
  <main>
    <Breadcrumbs
      pages={[
        { name: "Home", path: "/" },
        { name: "Meta", path: "/meta" },
        { name: "Lorem Ipsum", path: "/meta/lorem-ipsum" },
        { name: "Test", path: "/meta/lorem-ipsum/test" },
      ]}
    />
    <article class="px-4">
      <Content />
    </article>
  </main>
  <aside class="sticky top-0 hidden h-dvh pt-32 pb-16 md:block">
    <div class="size-full">
      <span class="text-lg font-semibold">On This Page</span>
      <ol>
        {
          headings.map((heading) => (
            <li>
              <a href={`#${heading.slug}`}>{heading.text}</a>
            </li>
          ))
        }
      </ol>
    </div>
  </aside>
</Layout>
