---
import Breadcrumbs from "../components/Breadcrumbs.astro";
import Nav from "../components/nav/Nav.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="SpruceBytes">
  <div class="grid h-full w-full grid-cols-1 md:grid-cols-[1fr_3fr_1fr]">
    <Nav />
    <main>
      <Breadcrumbs
        pages={[
          { name: "Home", path: "/" },
          { name: "Meta", path: "/meta" },
          { name: "Lorem Ipsum", path: "/meta/lorem-ipsum" },
          { name: "Test", path: "/meta/lorem-ipsum/test" },
        ]}
      />
      <article>
        <header class="p-3 font-header">
          <h1 class="text-2xl/normal font-semibold">Lorem Ipsum | Test Bytes Making a very Long Name</h1>
          <p class="">Subtitle about Lorem Ipsum; get acquainted with lorem ipsum text.</p>
        </header>
        <p class="px-3 py-1">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras aliquet, massa quis feugiat vehicula, lectus
          tortor tempus quam, in luctus velit ex vel elit. Praesent auctor id dolor sit amet lobortis. Sed a maximus
          lectus, accumsan suscipit felis. Donec dictum luctus mattis. Maecenas in ultrices risus, quis lobortis est.
          Fusce eget eros eu nibh pulvinar interdum. Etiam consequat congue lacus, non tempus arcu tincidunt nec.
          Integer id ultrices velit. Quisque ut nulla ligula. Donec dignissim ante urna, a aliquet ligula malesuada
          quis.
        </p>
        <p class="px-3 py-1">
          Proin et metus vel dolor sagittis bibendum. Aenean dolor quam, auctor sit amet vestibulum in, vulputate
          viverra tellus. Nullam mollis lectus ac dui lacinia, in rutrum ante tempus. Ut vehicula turpis eu erat
          eleifend eleifend. Praesent in posuere felis. Pellentesque consequat dui in tellus tincidunt, in cursus arcu
          sodales. Maecenas bibendum accumsan justo quis scelerisque. Sed eget enim aliquam, auctor massa at, faucibus
          velit. Donec ac ante dignissim, tristique neque eu, molestie turpis. Praesent quis sapien sit amet metus
          ullamcorper faucibus vitae vel dolor.
        </p>
        <p class="px-3 py-1">
          Proin et metus vel dolor sagittis bibendum. Aenean dolor quam, auctor sit amet vestibulum in, vulputate
          viverra tellus. Nullam mollis lectus ac dui lacinia, in rutrum ante tempus. Ut vehicula turpis eu erat
          eleifend eleifend. Praesent in posuere felis. Pellentesque consequat dui in tellus tincidunt, in cursus arcu
          sodales. Maecenas bibendum accumsan justo quis scelerisque. Sed eget enim aliquam, auctor massa at, faucibus
          velit. Donec ac ante dignissim, tristique neque eu, molestie turpis. Praesent quis sapien sit amet metus
          ullamcorper faucibus vitae vel dolor.
        </p>
        <p class="px-3 py-1">
          Proin et metus vel dolor sagittis bibendum. Aenean dolor quam, auctor sit amet vestibulum in, vulputate
          viverra tellus. Nullam mollis lectus ac dui lacinia, in rutrum ante tempus. Ut vehicula turpis eu erat
          eleifend eleifend. Praesent in posuere felis. Pellentesque consequat dui in tellus tincidunt, in cursus arcu
          sodales. Maecenas bibendum accumsan justo quis scelerisque. Sed eget enim aliquam, auctor massa at, faucibus
          velit. Donec ac ante dignissim, tristique neque eu, molestie turpis. Praesent quis sapien sit amet metus
          ullamcorper faucibus vitae vel dolor.
        </p>
        <p class="px-3 py-1">
          Proin et metus vel dolor sagittis bibendum. Aenean dolor quam, auctor sit amet vestibulum in, vulputate
          viverra tellus. Nullam mollis lectus ac dui lacinia, in rutrum ante tempus. Ut vehicula turpis eu erat
          eleifend eleifend. Praesent in posuere felis. Pellentesque consequat dui in tellus tincidunt, in cursus arcu
          sodales. Maecenas bibendum accumsan justo quis scelerisque. Sed eget enim aliquam, auctor massa at, faucibus
          velit. Donec ac ante dignissim, tristique neque eu, molestie turpis. Praesent quis sapien sit amet metus
          ullamcorper faucibus vitae vel dolor.
        </p>
        <p class="px-3 py-1">
          Proin et metus vel dolor sagittis bibendum. Aenean dolor quam, auctor sit amet vestibulum in, vulputate
          viverra tellus. Nullam mollis lectus ac dui lacinia, in rutrum ante tempus. Ut vehicula turpis eu erat
          eleifend eleifend. Praesent in posuere felis. Pellentesque consequat dui in tellus tincidunt, in cursus arcu
          sodales. Maecenas bibendum accumsan justo quis scelerisque. Sed eget enim aliquam, auctor massa at, faucibus
          velit. Donec ac ante dignissim, tristique neque eu, molestie turpis. Praesent quis sapien sit amet metus
          ullamcorper faucibus vitae vel dolor.
        </p>
        <p class="px-3 py-1">
          Proin et metus vel dolor sagittis bibendum. Aenean dolor quam, auctor sit amet vestibulum in, vulputate
          viverra tellus. Nullam mollis lectus ac dui lacinia, in rutrum ante tempus. Ut vehicula turpis eu erat
          eleifend eleifend. Praesent in posuere felis. Pellentesque consequat dui in tellus tincidunt, in cursus arcu
          sodales. Maecenas bibendum accumsan justo quis scelerisque. Sed eget enim aliquam, auctor massa at, faucibus
          velit. Donec ac ante dignissim, tristique neque eu, molestie turpis. Praesent quis sapien sit amet metus
          ullamcorper faucibus vitae vel dolor.
        </p>
        <p class="px-3 py-1">
          Proin et metus vel dolor sagittis bibendum. Aenean dolor quam, auctor sit amet vestibulum in, vulputate
          viverra tellus. Nullam mollis lectus ac dui lacinia, in rutrum ante tempus. Ut vehicula turpis eu erat
          eleifend eleifend. Praesent in posuere felis. Pellentesque consequat dui in tellus tincidunt, in cursus arcu
          sodales. Maecenas bibendum accumsan justo quis scelerisque. Sed eget enim aliquam, auctor massa at, faucibus
          velit. Donec ac ante dignissim, tristique neque eu, molestie turpis. Praesent quis sapien sit amet metus
          ullamcorper faucibus vitae vel dolor.
        </p>
        <p class="px-3 py-1">
          Proin et metus vel dolor sagittis bibendum. Aenean dolor quam, auctor sit amet vestibulum in, vulputate
          viverra tellus. Nullam mollis lectus ac dui lacinia, in rutrum ante tempus. Ut vehicula turpis eu erat
          eleifend eleifend. Praesent in posuere felis. Pellentesque consequat dui in tellus tincidunt, in cursus arcu
          sodales. Maecenas bibendum accumsan justo quis scelerisque. Sed eget enim aliquam, auctor massa at, faucibus
          velit. Donec ac ante dignissim, tristique neque eu, molestie turpis. Praesent quis sapien sit amet metus
          ullamcorper faucibus vitae vel dolor.
        </p>
      </article>
    </main>
  </div>
</Layout>
