---
import Layout from "../layouts/Layout.astro";
import {
  PanelLeftOpenIcon,
  TreePineIcon,
  SearchIcon,
  MoonStarIcon,
} from "@lucide/astro";
---

<Layout>
  <header>
    <div class="flex justify-between">
      <span class="flex">
        <button>
          <PanelLeftOpenIcon />
        </button>
        <TreePineIcon />
        <span class="">SpruceBytes</span>
      </span>
      <span class="flex">
        <SearchIcon />
        <MoonStarIcon />
      </span>
    </div>
    <div class="h-1 w-full bg-gradient-to-r from-emerald-800 to-emerald-500">
    </div>
  </header>
  <main>
    <article></article>
  </main>
</Layout>
