---
import { ChevronRightIcon } from "@lucide/astro";

interface Props {
  pages: { name: string; path: string }[];
}

const { pages } = Astro.props;
---

<nav aria-label="Breadcrumb" class="px-3 py-2">
  <ol class="inline-flex items-center">
    {
      pages.map((page, i) => (
        <li class="inline-flex items-center" {...(i === pages.length - 1 ? { "aria-current": "page" } : {})}>
          {i !== 0 && <ChevronRightIcon class="size-5 text-gray-400" />}
          <a href={page.path} class="font-semibold text-accent-primary hover:text-accent-secondary">
            {page.name}
          </a>
        </li>
      ))
    }
  </ol>
</nav>
