---
import Head from "./Head.astro";

import DesktopSidebar from "../components/DesktopSidebar.svelte";
import MobileSidebar from "../components/MobileSidebar.svelte";
import MobileHeader from "../components/MobileHeader.svelte";

interface Props {
  title: string;
  description: string;
  categories: {
    name: string;
    href: string;
    pages: {
      name: string;
      href: string;
      current: boolean;
    }[];
  }[];
}

const { categories, ...props } = Astro.props;
---

<!doctype html>
<html lang="en" class="light scroll-smooth lg:bg-gray-100 dark:bg-gray-900 dark:lg:bg-gray-950">
  <Head {...props} />
  <body
    class="relative flex min-h-svh w-full bg-white max-lg:flex-col lg:bg-gray-100 dark:bg-gray-900 dark:lg:bg-gray-950"
  >
    <DesktopSidebar client:load {categories} />
    <MobileSidebar client:load {categories} />
    <MobileHeader client:load />
    <slot />
  </body>
</html>
