---
import { cn } from "../../util/cn.ts";

interface Props {
  active: boolean;
  name: string;
  to: string;
}

const props = Astro.props;
---

<a
  href={props.to}
  class={cn("flex items-center gap-2 px-4 py-2", props.active && "text-theme-800 dark:text-theme-400")}
>
  {props.name}
</a>
