---
import Drawer from "./Drawer.astro";
import NavCollapsibleCategory from "./NavCollapsibleCategory.astro";
import { TreePineIcon, SearchIcon, MoonStarIcon, ChevronRightIcon, PanelLeftOpenIcon } from "@lucide/astro";
import { getCollection } from "astro:content";
import { CATEGORIES } from "../../consts";
import { sortProjects, getPostUrl, getCategoryUrl } from "../../util/generatePages";

const posts = await getCollection("posts");

const thisUrl = Astro.url;

const sidebar = CATEGORIES.map((category) => {
  const categoryPosts = posts.filter((post) => post.data.category === category);

  categoryPosts.sort(sortProjects);

  return {
    name: category,
    href: getCategoryUrl(category),
    pages: categoryPosts.map((post) => {
      const href = getPostUrl(category, post.data.title);
      return { name: post.data.title, href, current: thisUrl.pathname === href };
    }),
  };
});
---

<Drawer />
<header class="block md:hidden">
  <div class="flex justify-between p-2">
    <span class="flex gap-2">
      <button data-open-drawer type="button" class="rounded-lg bg-gray-200 p-1.5 text-gray-700 hover:bg-gray-300">
        <PanelLeftOpenIcon />
        <span class="sr-only">Open Sidebar</span>
      </button>
      <a href="/" class="flex items-center gap-1">
        <TreePineIcon class="text-accent-primary" />
        <span class="font-header text-xl font-semibold text-accent-primary">SpruceBytes</span>
      </a>
    </span>
    <span class="flex gap-4">
      <button type="button" class="rounded-lg bg-gray-200 p-1.5 text-gray-700 hover:bg-gray-300">
        <SearchIcon />
        <span class="sr-only">Search</span>
      </button>
      <button type="button" class="rounded-lg bg-gray-200 p-1.5 text-gray-700 hover:bg-gray-300">
        <MoonStarIcon />
        <span class="sr-only">Toggle Dark Mode</span>
      </button>
    </span>
  </div>
  <div class="h-1 w-full bg-gradient-to-r from-emerald-800 to-emerald-500"></div>
</header>
<header class="sticky top-0 hidden h-dvh w-full md:flex">
  <div class="m-2 w-full flex-col">
    <div class="flex w-full justify-between">
      <a href="/" class="flex items-center gap-1">
        <TreePineIcon class="text-accent-primary" />
        <span class="font-header text-xl font-semibold text-accent-primary">SpruceBytes</span>
      </a>
      <!-- TODO: add Dark Mode -->
      <button class="invisible rounded-lg bg-gray-200 p-1.5 text-gray-700 hover:bg-gray-300">
        <MoonStarIcon />
        <span class="sr-only">Toggle Dark Mode</span>
      </button>
    </div>
    <div class="p-2">
      <div
        class="flex w-full gap-2 rounded-lg border border-gray-400 p-2 font-header text-gray-600 hover:border-gray-500"
      >
        <SearchIcon />Search
      </div>
    </div>
    <nav class="p-2">
      <ul class="flex flex-col">
        {sidebar.map((category) => <NavCollapsibleCategory {...category} />)}
      </ul>
    </nav>
  </div>
  <div class="h-full w-0.5 bg-gradient-to-b from-emerald-800 to-emerald-500"></div>
</header>

<script>
  import { $sidebarOpen } from "../../util/state";

  const openers = document.querySelectorAll("[data-open-drawer]");
  for (const opener of openers) {
    opener.addEventListener("click", () => {
      $sidebarOpen.set(true);
    });
  }
</script>
